# Secret key for application security
SECRET_KEY=''

# Defines whether debug mode is active (True for development, False for production)
DEBUG=''

# Host where the application will run, e.g., 'localhost' or an IP address like 0.0.0.0
HOST=''
