{% extends "base.html" %}

{% block title %}Resultado Chebyshev{% endblock %}

{% block content %}
<h2>Resultado do Filtro Passa-baixas Chebyshev</h2>
<section>
    <div class="especificacoes">
        <p>Especificações:</p>
        <p>a<sub>pass</sub>: {{ result.a_pass | int }} dB</p>
        <p>a<sub>stop</sub>: {{ result.a_stop | int }} dB</p>
        <p>
            {% if result.unidade == 'hertz' %}
                f<sub>pass1</sub>: {{ result.f_pass1 | int }} Hz
            {% else %}
                &omega;<sub>pass1</sub>: {{ result.f_pass1 | float | round(2) }} rad/s
            {% endif %}
        </p>
        <p>
            {% if result.unidade == 'hertz' %}
                f<sub>stop1</sub>: {{ result.f_stop1 | int }} Hz
            {% else %}
                &omega;<sub>stop1</sub>: {{ result.f_stop1 | float | round(2) }} rad/s
            {% endif %}
        </p>
    </div>
    <div class="container-imagem">
        <a href="{{ url_for('static', filename='img/output.svg') }}" data-fancybox data-caption="circuito">
            <img src="{{ url_for('static', filename='img/output.svg') }}" alt="Resultado do filtro projetado.">
        </a>
    </div>
</section>
{% endblock %}