{% extends "base.html" %}

{% block title %}Resultado Chebyshev{% endblock %}

{% block content %}
    <h2>Resultado do Filtro Passa-baixas Chebyshev</h2>
    <section>
        <p>Especificações:</p>
        <p>a<sub>pass</sub>: {{ resultado['a_pass'] | int }} dB</p>
        <p>a<sub>stop</sub>: {{ resultado['a_stop'] | int }} dB</p>
        <p>
            {% if resultado['unidade'] == 'hertz' %}
                f<sub>pass1</sub>: {{ resultado['f_pass1'] | int }} Hz
            {% else %}
                &omega;<sub>pass1</sub>: {{ resultado['f_pass1'] | float }} rad/s
            {% endif %}
        </p>
        <p>
            {% if resultado['unidade'] == 'hertz' %}
                f<sub>stop1</sub>: {{ resultado['f_stop1'] | int }} Hz
            {% else %}
                &omega;<sub>stop1</sub>: {{ resultado['f_stop1'] | float }} rad/s
            {% endif %}
        </p>
        {% if resultado['f_pass2'] is not none %}
            <p>
                {% if resultado['unidade'] == 'hertz' %}
                    f<sub>pass2</sub>: {{ resultado['f_pass2'] | int }} Hz
                {% else %}
                    &omega;<sub>pass2</sub>: {{ resultado['f_pass2'] | float }} rad/s
                {% endif %}
            </p>
        {% endif %}
        {% if resultado['f_stop2'] is not none %}
            <p>
                {% if resultado['unidade'] == 'hertz' %}
                    f<sub>stop2</sub>: {{ resultado['f_stop2'] | int }} Hz
                {% else %}
                    &omega;<sub>stop2</sub>: {{ resultado['f_stop2'] | float }} rad/s
                {% endif %}
            </p>
        {% endif %}
    </section>
    <section>
        {% block resultado %}
            <pre>{{ resultado | tojson(4) }}</pre>
        {% endblock %}
    </section>
{% endblock %}